- name: install docker using docker shell script
  shell: curl -sSL https://get.docker.io | sh
  args:
    creates: /usr/bin/docker
  register: docker_installed

- name: Update facts
  setup: ''
  when: docker_installed.changed or ansible_docker0 is not defined

# docker is managed by the upstart but still has init.d script
# which confuses ansible and results in playbook error
- name: remove docker init.d script
  file: path=/etc/init.d/docker state=absent
